
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1 class="text-center">Shopbridge</h1>
    <p class="lead text-center">Shopbridge - India’s largest online supermarket, has revolutionized the way India shops for groceries.</p>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-8 col-lg-12">
        <h2 class="text-center">Getting started</h2>
        <p class="text-center">
            Build full fledged inventory platforms with our HTTP/JSON APIs.
        </p>
    </div>
</div>
